<div class="container crear-elemento-container">
  <h2 class="text-dark mb-4">Crear Usuario</h2>
  
  <!-- Formulario para datos de usuario -->
  <form [formGroup]="form" (ngSubmit)="guardar()" class="datos-usuario-form" novalidate>
    <div class="form-group mb-3">
      <label for="nombre" class="text-dark">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
      <div *ngIf="form.controls['nombre'].invalid && form.controls['nombre'].touched" class="text-danger">
        Nombre es requerido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="primerApellido" class="text-dark">Primer Apellido</label>
      <input type="text" class="form-control" id="primerApellido" formControlName="primerApellido" placeholder="Primer Apellido" required>
      <div *ngIf="form.controls['primerApellido'].invalid && form.controls['primerApellido'].touched" class="text-danger">
        Primer Apellido es requerido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="segundoApellido" class="text-dark">Segundo Apellido</label>
      <input type="text" class="form-control" id="segundoApellido" formControlName="segundoApellido" placeholder="Segundo Apellido" required>
      <div *ngIf="form.controls['segundoApellido'].invalid && form.controls['segundoApellido'].touched" class="text-danger">
        Segundo Apellido es requerido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="dni" class="text-dark">DNI</label>
      <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="Documento de Identidad" required>
      <div *ngIf="form.controls['dni'].invalid && form.controls['dni'].touched" class="text-danger">
        DNI es requerido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="telefono" class="text-dark">Teléfono</label>
      <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono" required>
      <div *ngIf="form.controls['telefono'].invalid && form.controls['telefono'].touched" class="text-danger">
        Teléfono es requerido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="correo" class="text-dark">Correo</label>
      <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo electrónico" required>
      <div *ngIf="form.controls['correo'].invalid && form.controls['correo'].touched" class="text-danger">
        Correo es requerido y debe ser válido.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="contraseña" class="text-dark">Contraseña</label>
      <input type="password" class="form-control" id="contraseña" formControlName="contraseña" placeholder="Contraseña" required>
      <div *ngIf="form.controls['contraseña'].invalid && form.controls['contraseña'].touched" class="text-danger">
        Contraseña es requerida.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="confirmarContraseña" class="text-dark">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="confirmarContraseña" formControlName="confirmarContraseña" placeholder="Confirmar contraseña" required>
      <div *ngIf="form.controls['confirmarContraseña'].invalid && form.controls['confirmarContraseña'].touched" class="text-danger">
        Confirmar Contraseña es requerida.
      </div>
    </div>
    
    <button type="submit" class="btn btn-dark crear-button" [disabled]="!form.valid">Crear Usuario</button>
  </form>
</div>