* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7; /* Color de fondo ajustado */
    width: 100%;
    min-height: 100vh;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.category-tabs {
    text-align: left;
    margin-bottom: 20px;
    width: 50;
}

.tab-link {
    width: 125px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0 4px;
}

.tab-link:hover {
    background-color: #ddd; /* Color de fondo ajustado */
}

.tab-link.active {
    background-color: #666;
    color: white;
}

h2 {
    font-size: 36px;
    color: brown; /* Color de texto ajustado */
    margin-top: 20px;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fffaf0; /* Beige, para un contraste sutil con el fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrito-vacio {
    color: brown; /* Color de texto ajustado */
    text-align: center;
    font-size: 18px;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf0; /* Beige, para un contraste sutil con el fondo */
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrito-producto-imagen {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px; /* Redondear esquinas superiores */
    border: 1px solid #000; /* Borde negro para destacar */
}

.carrito-producto-titulo h3,
.carrito-producto-cantidad p,
.carrito-producto-precio p,
.carrito-producto-subtotal p {
    margin: 5px 0;
    color: brown; /* Color de texto ajustado */
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: black; /* Color de texto ajustado a negro */
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.carrito-producto-eliminar:hover {
    color: #d2691e; /* Chocolate */
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-acciones-izquierda,
.carrito-acciones-derecha {
    display: flex;
    gap: 1rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: brown; /* Color de fondo ajustado */
    padding: 10px 20px;
    border-radius: 25px;
    color: antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.carrito-acciones-vaciar:hover {
    background-color: #d2691e; /* Color de fondo ajustado */
    transform: scale(1.05);
}

.carrito-acciones-comprar {
    border: 0;
    background-color: #8FBC8F; /* Dark Sea Green */
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.carrito-acciones-comprar:hover {
    background-color: #66CDAA; /* Medium Aquamarine */
    transform: scale(1.05);
}

.carrito-acciones-total {
    display: flex;
    align-items: center;
    background-color: black; /* Fondo negro */
    padding: 5px 20px;
    border-radius: 25px;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.carrito-acciones-total:hover {
    background-color: #333; /* Más oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#total {
    font-size: 22px;
    color: antiquewhite; /* Texto color claro */
}

/* Mobile responsive adjustments */
@media (max-width: 600px) {
    .category-tabs .tab-link {
        display: block;
    }
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #f3f3f3;
}



/*.disable {
    display: none;
}*/
