<div class="body">
    <main>
        <div class="category-tabs">
            <section>
                <button class="tab-link active" (click)="irInicio()" [class.active]=""><i class="fa fa-arrow-left"></i>Volver a la tienda</button>
            </section>
        </div>

        <main>
            <h2 style="text-align: center;">Carrito</h2>
            <div class="contenedor-carrito">
                <p class="carrito-vacio">El carrito está vacío</p>

                <div class="carrito-productos disable">
                    <div class="carrito-producto">
                        <img class="carrito-producto-imagen" src="https://img.freepik.com/premium-vector/laptop_23785-22.jpg?w=740" alt="">
                        <div class="carrito-producto-titulo">
                            <small>Título</small>
                            <h3>Producto 1</h3>
                        </div>
                        <div class="carrito-producto-cantidad">
                            <small>Cantidad</small>
                            <p>1</p>
                        </div>
                        <div class="carrito-producto-precio">
                            <small>Precio</small>
                            <p>$1000</p>
                        </div>
                        <div class="carrito-producto-subtotal">
                            <small>Subtotal</small>
                            <p>$1000</p>
                        </div>
                        <button class="carrito-producto-eliminar"><i class="fa fa-trash"></i></button>
                    </div>

                    <div class="carrito-producto">
                        <img class="carrito-producto-imagen" src="https://img.freepik.com/premium-vector/laptop_23785-22.jpg?w=740" alt="">
                        <div class="carrito-producto-titulo">
                            <small>Título</small>
                            <h3>Producto 1</h3>
                        </div>
                        <div class="carrito-producto-cantidad">
                            <small>Cantidad</small>
                            <p>1</p>
                        </div>
                        <div class="carrito-producto-precio">
                            <small>Precio</small>
                            <p>$1000</p>
                        </div>
                        <div class="carrito-producto-subtotal">
                            <small>Subtotal</small>
                            <p>$1000</p>
                        </div>
                        <button class="carrito-producto-eliminar"><i class="fa fa-trash"></i></button>
                    </div>

                    <div class="carrito-producto">
                        <img class="carrito-producto-imagen" src="https://img.freepik.com/premium-vector/laptop_23785-22.jpg?w=740" alt="">
                        <div class="carrito-producto-titulo">
                            <small>Título</small>
                            <h3>Producto 1</h3>
                        </div>
                        <div class="carrito-producto-cantidad">
                            <small>Cantidad</small>
                            <p>1</p>
                        </div>
                        <div class="carrito-producto-precio">
                            <small>Precio</small>
                            <p>$1000</p>
                        </div>
                        <div class="carrito-producto-subtotal">
                            <small>Subtotal</small>
                            <p>$1000</p>
                        </div>
                        <button class="carrito-producto-eliminar"><i class="fa fa-trash"></i></button>
                    </div>
                </div>

                <div class="carrito-acciones disable">
                    <div class="carrito-acciones-izquierda">
                        <button class="carrito-acciones-vaciar">Vaciar carrito</button>
                    </div>
                    <div class="carrito-acciones-derecha">
                        <div class="carrito-acciones-total">
                            <p>Total: </p>
                            <p id="total">$3000</p>
                        </div>
                        <button class="carrito-acciones-comprar">Comprar</button>
                    </div>
                </div>
            </div>
        </main>
    </main>
</div>